<form action="/control/setups/" method="POST">
  <section class="section-header">Настройка игры</section>
  <section>
    <span>Лимит ходов в истории</span>
    <div>
      <input type="text" name="historyLimit" value="{{setups.game.historyLimit}}"/>
    </div>
  </section>
  <section>
    <span>Время, при котором игра будет счиататься зависшей</span>
    <div>
      <input type="text" name="sleep" value="{{setups.game.sleep}}"/>
    </div>
  </section>
  <section>
    <span>Время, через которое будет проходить проверка на зависание игры</span>
    <div>
      <input type="text" name="watcher" value="{{setups.game.watcher}}"/>
    </div>
  </section>
  <section>
    <span>Количество последних сохраненных состояний</span>
    <div>
      <input type="text" name="stateCount" value="{{setups.game.stateCount}}"/>
    </div>
  </section>
  <section>
    <input type="hidden" name="section" value="game">
    <input type="submit" name="save" value="Сохранить">
  </section>
</form>

<form action="/control/setups/" method="POST">
  <section class="section-header">Настройка ботов</section>
  <section>
    <span>Лимит раундов</span>
    <div>
      <input type="text" name="rounds" value="{{setups.bot.rounds.[0]}}"/>
       до <input type="text" name="rounds" value="{{setups.bot.rounds.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Базовый шанс подарка</span>
    <div>
      <input type="text" name="startChanceGift" value="{{setups.bot.startChanceGift.[0]}}"/>
       до <input type="text" name="startChanceGift" value="{{setups.bot.startChanceGift.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Шанс продолжить играть, если выход, прервет игру</span>
    <div>
      <input type="text" name="chanceKeepPlay" value="{{setups.bot.chanceKeepPlay}}"/>
    </div>
  </section>
  <section>
    <span>Уменьшение лимит раундов, при условии что можно выйти из игры</span>
    <div>
      <input type="text" name="decreaseRounds" value="{{setups.bot.decreaseRounds.[0]}}"/>
       до <input type="text" name="decreaseRounds" value="{{setups.bot.decreaseRounds.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Увеличение шанс подарка за раунд</span>
    <div>
      <input type="text" name="encreaseChanceGift" value="{{setups.bot.encreaseChanceGift.[0]}}"/>
       до <input type="text" name="encreaseChanceGift" value="{{setups.bot.encreaseChanceGift.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Уменьшение шанса подарка после дарения</span>
    <div>
      <input type="text" name="decreaseChanceGift" value="{{setups.bot.decreaseChanceGift.[0]}}"/>
       до <input type="text" name="decreaseChanceGift" value="{{setups.bot.decreaseChanceGift.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Шанс на случайный выбор цели (когда ботов больше)</span>
    <div>
      <input type="text" name="chanceRandomOnBots" value="{{setups.bot.chanceRandomOnBots}}"/>
    </div>
  </section>
  <section>
    <span>Шанс на случайный выбор цели, когда людей больше</span>
    <div>
      <input type="text" name="chanceRandomOnUsers" value="{{setups.bot.chanceRandomOnUsers}}"/>
    </div>
  </section>

  <section>
    <input type="hidden" name="section" value="bot">
    <input type="submit" name="save" value="Сохранить">
  </section>
</form>

<form action="/control/setups/" method="POST">
  <section class="section-header">Настройка ботов: рейтинг подсчета цели, при выборе кому дарить подарок</section>
  <section>
    <span>Базовый рейтинг</span>
    <div>
      <input type="text" name="start" value="{{setups.bot.rating.start}}"/>
    </div>
  </section>
  <section>
    <span>Бонус за противоположный пол</span>
    <div>
      <input type="text" name="gender" value="{{setups.bot.rating.gender}}"/>
    </div>
  </section>
  <section>
    <span>Бонус, если входов меньше</span>
    <div>
      <input type="text" name="enter" value="{{setups.bot.rating.enter.[0]}}"/>
       бонус <input type="text" name="enter" value="{{setups.bot.rating.enter.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Бонус за раунды за столом, если меньше</span>
    <div>
      <input type="text" name="roundCountMin" value="{{setups.bot.rating.roundCountMin.[0]}}"/>
       бонус <input type="text" name="roundCountMin" value="{{setups.bot.rating.roundCountMin.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Штраф за раунды за столом, если больше</span>
    <div>
      <input type="text" name="roundCountMax" value="{{setups.bot.rating.roundCountMax.[0]}}"/>
       штраф <input type="text" name="roundCountMax" value="{{setups.bot.rating.roundCountMax.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Бонус если всего поцелуев, меньше</span>
    <div>
      <input type="text" name="kissCountMin" value="{{setups.bot.rating.kissCountMin.[0]}}"/>
       бонус <input type="text" name="kissCountMin" value="{{setups.bot.rating.kissCountMin.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Штраф если всего поцелуев, больше</span>
    <div>
      <input type="text" name="kissCountMax" value="{{setups.bot.rating.kissCountMax.[0]}}"/>
       штраф <input type="text" name="kissCountMax" value="{{setups.bot.rating.kissCountMax.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Бонус если печенек на аккаунте, больше</span>
    <div>
      <input type="text" name="cookieCount" value="{{setups.bot.rating.cookieCount.[0]}}"/>
       бонус <input type="text" name="cookieCount" value="{{setups.bot.rating.cookieCount.[1]}}"/>
    </div>
  </section>
  <section>
    <span>Бонус за поцелуи с игроком, за каждый</span>
    <div>
      <input type="text" name="kiss" value="{{setups.bot.rating.kiss}}"/>
    </div>
  </section>
  <section>
    <span>Бонус за каждый полученый подарок, стоимость подарка делится на</span>
    <div>
      <input type="text" name="giftFrom" value="{{setups.bot.rating.giftFrom}}"/>
    </div>
  </section>
  <section>
    <span>Штраф за каждый отправленный подарок, стоимость подарка делится на</span>
    <div>
      <input type="text" name="rating.giftTo" value="{{setups.bot.rating.giftTo}}"/>
    </div>
  </section>

  <section>
    <input type="hidden" name="section" value="bot.rating">
    <input type="submit" name="save" value="Сохранить">
  </section>
</form>

<form action="/control/setups/" method="POST">
  <section class="section-header">Настройка ботов: вероятность отправки сообщений в чат</section>
  <section>
    <span>Ответное сообщение, при получении подарка</span>
    <div>
      <input type="text" name="chanceAnswerGift" value="{{setups.bot.message.chanceAnswerGift}}"/>
    </div>
  </section>
  <section>
    <span>Сообщение, при дарении подарка</span>
    <div>
      <input type="text" name="chanceGiveGift" value="{{setups.bot.message.chanceGiveGift}}"/>
    </div>
  </section>
  <section>
    <span>Сообщение приветственное, при входе за стол</span>
    <div>
      <input type="text" name="chanceHello" value="{{setups.bot.message.chanceHello}}"/>
    </div>
  </section>
  <section>
    <span>Сообщение прощальное, при выхде со стола</span>
    <div>
      <input type="text" name="chanceGoodby" value="{{setups.bot.message.chanceGoodby}}"/>
    </div>
  </section>

  <section>
    <input type="hidden" name="section" value="bot.message">
    <input type="submit" name="save" value="Сохранить">
  </section>
</form>